<%- include('../partials/header/base') %>

<div class="events-container">
    <div class="events-container__title">
        <h1>Events</h1>
        <p>Catch up with events</p>
        <div class="events-container__hr"></div>
    </div>
    <div class="card">
        <div class="card__header card__header--no-border">
            <h1 style="font-size: 1.6rem;">Up coming</h1>
            <p>Stay ahead of events</p>
        </div>
        <div class="events-container__list" id="event-list">
            
        </div>
    </div>
</div>

<script src="/assets/js/dist/jquery.js"></script>
<script src="/assets/js/dist/app.bundle.js"></script>

<script>
    Event.getAll()
</script>