<%- include('../partials/header/base') %>

<div class="events-container">
    <div class="events-container__title">
        <h1>Events</h1>
        <p>Catch up with events</p>
        <div class="events-container__hr"></div>
    </div>
    <p style="cursor: pointer;" id="download-csv">Export to CSV</p>
    <p style="cursor: pointer; margin-bottom: 1rem;" id="download-word">Export to Word</p>
    <div class="card" style="margin-top: 2rem;">
        <div class="card__header card__header--no-border">
            <h1 style="font-size: 1.6rem;">Up coming</h1>
            <p>Stay ahead of events</p>
        </div>
        <div style="padding: 1rem 1.6rem;">
            <div class="input">
                <input type="text" id="event-search"  placeholder="Search by artist name">
            </div>
        </div>
        
        <div class="events-container__list" id="event-list">
            
        </div>
    </div>
</div>

<a download id="download-anchor"></a>

<script src="/assets/js/dist/jquery.js"></script>
<script src="/assets/js/dist/app.bundle.js"></script>

<script>
    Event.getAll()

    $('#event-search').on('keyup', () => {
        Event.searchByArtist();
    })

    $('#download-csv').on('click', e => {
        Event.downloadCSV();
    })

    $('#download-word').on('click', e => {
        Event.downloadWord();
    })
</script>