<%- include('../partials/header/base') %>

<div class="play-music flex flex--a-start">
    <div class="play-music__thumbnails-n-controls" style="background-color: #ddd;">
        <div class="play-music__thumbnails-n-controls__image image--back" id="song-cover" style="background-image: url('/assets/uploads/covers/default.png');"></div>
        <div class="play-music__thumbnails-n-controls__controls flex flex--j-center">
            <div style="position: relative;" class="play-music__thumbnails-n-controls__controls__play-toggle toggle-play">
                <svg id="play-icon" class="image--icon pos--abs pos--center">
                    <use href="#play"></use>
                </svg>
                <svg id="pause-icon" class="image--icon pos--abs pos--center" style="display: none;">
                    <use href="#pause"></use>
                </svg>
            </div>
            <div style="position: relative; margin-left: 3rem;" class="play-music__thumbnails-n-controls__controls__play-toggle download-btn">
                <svg id="pause-icon" class="image--icon pos--abs pos--center">
                    <use href="#download"></use>
                </svg>
            </div>
            <audio id="audio-src"></audio>
        </div>
    </div>
    <div class="play-music__more-songs">
        <p style="color: #c1c1c1;">From album</p>
        <div class="play-music__more-songs__from-album" id="album-song-list"></div>
        <p style="color: #c1c1c1;">Others</p>
        <div class="play-music__more-songs__others" id="song-list"></div>
    </div>
</div>

<a id="song-download-link" download></a>

<script src="/assets/js/dist/jquery.js"></script>
<script src="/assets/js/dist/app.bundle.js"></script>
<script>
    Song.loadSongToListen()
    Song.loadNextSongsToListen()
    Song.loadAlbumSongsToListen()

    let play = false;

    let audio = $('#audio-src')[0];

    $('.toggle-play').on('click', e => {
        if (!play) {
            audio.play()

            $(`#pause-icon`).show();
            $(`#play-icon`).hide();
        }

        else {
            audio.pause();

            $(`#pause-icon`).hide();
            $(`#play-icon`).show();
        }

        play = !play;
    })

    $('.download-btn').on('click', e => {
        $('#song-download-link')[0].click();
    })

</script>

