<header class="admin flex flex--a-center flex--j-space-between">
    <div class="admin__left flex flex--a-center">
        <div class="admin__left__logo flex flex--a-center">
            <a href="/" class="admin__left__logo__circle">
                <img class="pos--center" src="/assets/illustrations/earbud.svg" alt="">
            </a>
            <div>
                <h1><a href="/">the<span>Band</span></a></h1>
                <p>Studio</p>
            </div>
        </div>
        <div style="margin-left: 10.5rem;">
            <h1>Artist</h1>
        </div>
    </div>
    <div class="admin__main-nav">
        <ul>
            <li><%= artistInfo.stage_name %></li>
        </ul>
    </div>
</header>