<header class="base flex flex--a-center">
    <div class="base__left flex flex--a-center">
        <div class="base__left__logo flex flex--a-center">
            <div class="base__left__logo__circle">
                <img class="pos--center" src="/assets/illustrations/earbud.svg" alt="">
            </div>
            <div>
                <h1>the<span>Band</span></h1>
                <p>For music lovers</p>
            </div>
        </div>
        <div class="base__left__sep"></div>
        <nav class="base__left__main-nav flex flex--a-center">
            <p>Home</p>
            <p>Events</p>
            <svg class="image--icon">
                <use href="#search"></use>
            </svg>
        </nav>
    </div>
</header>